
.container {
  position: relative;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  padding: 0 !important;
}

#fullpage {
  display: none;
}

.container_padding {
  width: 100%;
  padding-bottom: 50%;
  position: relative;
  //display: none;
}

.container_padding_ab {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#section0 {
  padding: 75px 0 0 0;
  background-image: url('http://oxrgdeqd8.bkt.clouddn.com/lALPBY0V4tLdGnHNCavNEOA_4320_2475.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 13px;
}

#section1, #section2, #section3, #section4 {
  padding-top: 75px;
}

.section_padding {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 62px;
}

.page_icon {
  display: inline-block;
  width: 17.9%;
  height: 4px;
  background: #fff;
  position: absolute;
  left: 15px;
  bottom: 0;
  transition: all 1s ease;
}

.page_icon_active {
  background: #0080FF !important;
}

//nav css
.active_one {
  background: #009FFD !important;
  border-radius: 0 !important;
  border: none !important;
}

.active_all {
  background: #fff !important;
  border-radius: 0 !important;
}

.active_one li a {
  color: rgba(255, 255, 255, 0.5) !important;
  background: #009FFD !important;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 20px;
}

.active_one .active a {
  background: #009FFD !important;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #fff !important;
  letter-spacing: 3px;
  line-height: 20px;
}

.active_all li a {
  color: rgba(0, 0, 0, 0.5) !important;
  background: #fff !important;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 20px;
}

.active_all .active a {
  background: #fff !important;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #0080FF !important;
  letter-spacing: 3px;
  line-height: 20px;
}

header {
  background: #009FFD !important;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
}

.nav_continer {
  width: 100%;
  margin: auto;
  position: relative;
}

.active_icon_white span {
  background: #fff !important;
}

.active_icon_black span {
  background: rgba(0, 0, 0, 0.5) !important;
}

#nav_avtive {
  width: 50%;
  text-align: center;
  margin-top: 12.5px !important;
  position: relative;
  float: right;
}

#nav_avtive li {
  width: 25%;
}

.header_logo {
  width: 150px;
  padding: 5px;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.header_logo img {
  width: 100%;
}

.container-fluid {
  width: 100% !important;
  height: 75px;
}

.nav_ {
  height: 75px;
  margin: 0 !important;
  border: none !important;
  margin: 0 !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none !important;
}

.navbar-default {
  padding: 0 15px 0 30px !important;
}

.navbar-toggle {
  margin-top: 20px !important;

}

.navbar-header {
  border: none !important;
}

.navbar-nav {
  margin: 0 -15px 0 -15px !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: none !important;
}

//right page_icon_span css
.right_change_white ul li a span {
  background: rgba(255, 255, 255, 0.3) !important;
  width: 10px !important;
  height: 22px !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  display: inline-block;
  margin: 5px 0 5px 0 !important;
}

.right_change_white ul li:hover a.active span, .right_change_white ul li a.active span {
  background: #fff !important;
  display: inline-block;
}

.right_change_blue ul li a span {
  opacity: 0.3;
  background: #2597FF !important;
  width: 10px !important;
  height: 22px !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  display: inline-block;
  margin: 5px 0 5px 0 !important;
}

.right_change_blue ul li:hover a.active span, .right_change_blue ul li a.active span {
  background: #2597FF !important;
  display: inline-block;
  opacity: 1 !important;
}

#fp-nav ul {
  display: flex;
  flex-flow: column;
}

#fp-nav {
  margin-right: 7%;
}

//first_section_css
.firstSection_img {
  //max-width: 430px;
  width: 50% !important;
  height: 100%;
  margin-right: 1.5%;
}

.firstSection_img img {
  width: 100%;
  height: auto;
  position: relative;
}

.about_firstSection_img {
  width: 50% !important;
  height: auto;
}

.about_firstSection_img img {
  width: 80%;
  height: auto;
  position: relative;
}

.firstSection_down_text {
  height: 47.5%;
  text-align: left;
  position: absolute !important;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}

.firstSection_down_one_p {
  font-family: PingFangSC-Regular;
  font-size: 0.5rem;
  color: #FFFFFF;
  letter-spacing: 0.12rem;
  line-height: 0.54rem;
  margin-bottom: 5% !important;
  position: relative;
}

.all_coniner {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto
}

.home_container {
  max-width: 1200px;
  width: 100%;
  height: 0;
  margin: auto;
  padding-bottom: 45.33333%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.five_home_container {
  max-width: 1200px;
  width: 100%;
  height: 0;
  margin: auto;
  padding-bottom: 46.3333%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.last_five_home_container {
  max-width: 1200px;
  width: 100%;
  height: 0;
  margin: auto;
  padding-bottom: 46.3333%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.firstSection_down_two_p {
  font-family: PingFangSC-Regular;
  font-size: 0.18rem;
  color: #FFFFFF;
  letter-spacing: 0.04rem;
  line-height: 0.3rem;
  width: 93%;
  position: relative;
}

.serve_firstSection_down_one_p {
  font-family: MicrosoftYaHei;
  font-size: 0.5rem;
  color: #FFFFFF;
  letter-spacing: 0.1rem;
  position: relative;
}

.serve_firstSection_down_two_p {
  font-family: MicrosoftYaHei;
  font-size: 0.18rem;
  color: #FFFFFF;
  letter-spacing: 0.038rem;
  line-height: 0.3rem;
  width: 93%;
  position: relative;
}

.firstSection_down_btn {
  width: 50%;
  height: 19.6491%;
  margin-top: 12%;
  border: none !important;
  font-family: MicrosoftYaHei;
  font-size: 0.2rem !important;
  color: #0080FF !important;
  letter-spacing: 0.03rem;
  line-height: 0.24rem;
  position: relative;
}

//two_section_css
.twoSection_container {
  width: 90.83%;
  height: 100%;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0 0 12px 0 rgba(49, 82, 112, 0.22);
  border-radius: 8px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  padding: 4.3% 4.5%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.twoSection_container_left, .advantage_container_left {
  max-width: 1.823rem;
  max-height: 1.1951rem;
  height: 100%;
  width: 100%;
  background-image: url('http://oxrgdeqd8.bkt.clouddn.com/homepage_bg_left@3x.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -1px;
  left: 0;
  opacity: 1;
  border-radius: 8px;
}

.twoSection_container_right, .advantage_container_right {
  max-width: 1.44rem;
  max-height: 2rem;
  background-image: url('http://oxrgdeqd8.bkt.clouddn.com/homepage_bg_right@3x.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  border-radius: 8px;
}

.twoSection_container_left_animate {
  animation: 0.8s left_icon_animate;
  -moz-animation: 0.8s left_icon_animate;
  -webkit-animation: 0.8s left_icon_animate;
  -o-animation: 0.8s left_icon_animate;
}

.twoSection_container_right_animate {
  animation: 0.8s right_icon_animate;
  -moz-animation: 0.8s right_icon_animate;
  -webkit-animation: 0.8s right_icon_animate;
  -o-animation: 0.8s right_icon_animate;
}

@keyframes right_icon_animate {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
  to {
    width: 1.44rem;
    height: 2rem;
    opacity: 1;
  }
}

@-moz-keyframes right_icon_animate {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
  to {
    width: 1.44rem;
    height: 2rem;
    opacity: 1;
  }
}

@-webkit-keyframes right_icon_animate {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
  to {
    width: 1.44rem;
    height: 2rem;
    opacity: 1;
  }
}

@-o-keyframes right_icon_animate {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
  to {
    width: 1.44rem;
    height: 2rem;
    opacity: 1;
  }
}

@keyframes left_icon_animate {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
  to {
    width: 1.823rem;
    height: 1.1951rem;
    opacity: 1;
  }
}

@-moz-keyframes left_icon_animate {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
  to {
    width: 1.823rem;
    height: 1.1951rem;
    opacity: 1;
  }
}

@-webkit-keyframes left_icon_animate {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
  to {
    width: 1.823rem;
    height: 1.1951rem;
    opacity: 1;
  }
}

@-o-keyframes left_icon_animate {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
  to {
    width: 1.823rem;
    height: 1.1951rem;
    opacity: 1;
  }
}

.twoSection_container_inner {
  text-align: left;
}

.twoSection_container_inner h1 {
  font-family: MicrosoftYaHei;
  font-size: 30px;
  color: rgba(66, 70, 77, 1);
  letter-spacing: 8px;
  line-height: 36px;
  position: relative;
}

.bounce_continer, .twoSection_down_text {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.down_bounce_continer {
  display: -webkit-flex;
  flex-flow: row-reverse;
}

.ql_twoAnimate, .ql_fourAnimate {
  margin-bottom: 0;
}

.twoSection_container_inner span {
  display: inline-block;
  width: 0.98rem;
  height: 8px;
  background: #2697FF;
  animation-delay: 0.5s;
  position: relative;
  margin: 2% auto;
}

.twoSection_container_inner p {
  font-family: MicrosoftYaHei;
  font-size: 0.14rem;
  color: rgba(66, 70, 77, 0.7);
  filter: alpha(opacity=70); //filter 过滤器   兼容IE678
  letter-spacing: 0.02rem;
  text-align: left;
  line-height: 0.248rem;
  margin-top: 0.07rem;
  //animation-delay: 1s;
  position: relative;
}

//three_section_css
.threeSection_img {
  //margin-top: 7%;
}

.threeSection_container_lists {
  width: 100%;
  height: 57.33333%;
  margin: 2% auto !important;
}

.threeSection_container_title {
  width: 51.333%;
  margin: 0 auto;
}

.threeSection_container_title h1 {
  font-family: MicrosoftYaHei;
  font-size: 0.32rem;
  color: rgba(66, 70, 77, 1);
  letter-spacing: 0.08rem;
  line-height: 0.36rem;
}

.threeSection_container_title p {

  font-family: MicrosoftYaHei;
  font-size: 0.16rem;
  color: rgba(66, 70, 77, 0.7);
  letter-spacing: 0.04rem;
  line-height: 0.3rem;
  margin-top: 6.23%;
}

.threeSection_container_list {
  width: 100%;
  height: 100%;
  padding: 14.8148% 18.5185% 12.22222% 18.5185%;
}

.threeSection_list {
  height: 100%;
}

.threeSection_container_list_img img, .threeSection_container_list_img_two img, .threeSection_container_list_img_three img, .threeSection_container_list_img_four img {
  width: 100%;
}

.threeSection_container_list_img {
  width: 82.3529%;
  height: 61.4035%;
  margin: auto;
}

.threeSection_container_list_img_two {
  width: 82.3529%;
  height: 61.4035%;
  margin: auto;
}

.threeSection_container_list_img_three {
  width: 82.3529%;
  height: 61.4035%;
  margin: auto;
}

.threeSection_container_list_img_four {
  width: 82.3529%;
  height: 61.4035%;
  margin: auto;
}

.threeSection_container_list p {
  width: 94.1176%;
  font-family: MicrosoftYaHei;
  font-size: 0.2rem;
  color: #365C9E;
  letter-spacing: 0.0556rem;
  line-height: 0.3rem;
  margin: 12.2807% auto;
}

//four_section_css

.fourSection_container_list {
  width: 67.56756%;
  height: 100%;
  margin: auto;
  padding: 10px 15px;
}

.serve_fourSection_container_list {
  width: 92.59259%;
  height: 100%;
  margin: auto;
  padding: 10px 15px;
}

.fourSection_list {
  height: 47.6190%;
}

.fourSection_container_lists {
  width: 100%;
  height: 77.7777777%;
  margin: 1% auto !important;
}

.fourSection_container_title {
  width: 43%;
  margin: auto;
  position: relative;
}

.six_fourSection_container_title {
  width: 51.3333%;
  margin: auto;
}

.six_fourSection_container_title h1 {
  font-family: MicrosoftYaHei;
  font-size: 0.32rem;
  color: rgba(66, 70, 77, 1);
  letter-spacing: 0.08rem;
  line-height: 0.36rem;
  margin: 0;
}

.six_fourSection_container_title p {
  font-family: MicrosoftYaHei;
  font-size: 0.16rem;
  color: rgba(66, 70, 77, 0.7);
  letter-spacing: 0.04rem;
  line-height: 0.3rem;
  margin-top: 0.28rem;
}

.fourSection_container_title h1 {
  font-family: MicrosoftYaHei;
  font-size: 0.32rem;
  color: rgba(66, 70, 77, 1);
  letter-spacing: 0.08rem;
  line-height: 0.36rem;
  margin: 0;
  position: relative;
}

.fourSection_container_title p {
  font-family: MicrosoftYaHei;
  font-size: 0.16rem;
  color: rgba(66, 70, 77, 0.7);
  letter-spacing: 0.04rem;
  line-height: 0.3rem;
  margin-top: 0.28rem;
}

.fourSection_container_list_img img, .fourSection_container_list_img_one img, .fourSection_container_list_img_two img, .fourSection_container_list_img_three img, .fourSection_container_list_img_four img, .fourSection_container_list_img_five img {
  width: 100%;
}

.fourSection_container_list_img {
  width: 45.454545%;
  height: 43.47826%;
  margin: auto;
}

.fourSection_container_list_img_one {
  width: 45.454545%;
  height: 43.47826%;
  margin: auto;
}

.fourSection_container_list_img_two {
  width: 45.454545%;
  height: 43.47826%;
  margin: auto;
}

.fourSection_container_list_img_three {
  width: 45.454545%;
  height: 43.47826%;
  margin: auto;
}

.fourSection_container_list_img_four {
  width: 45.454545%;
  height: 43.47826%;
  margin: auto;
}

.fourSection_container_list_img_five {
  width: 45.454545%;
  height: 43.47826%;
  margin: auto;
}

.fourSection_container_list span, .serve_fourSection_container_list span {
  width: 72.727272%;
  font-family: MicrosoftYaHei;
  font-size: 0.17rem;
  color: #365C9E;
  letter-spacing: 0.056rem;
  line-height: 0.3rem;
  margin: auto;
  display: inline-block;
}

.serve_fourSection_container_list span {
  margin-top: 5.889%;
  margin-bottom: 5.889%;
}

.fourSection_container_list p, .serve_fourSection_container_list p {
  width: 95%;
  font-family: MicrosoftYaHei;
  font-size: 0.14rem;
  color: rgba(66, 70, 77, 0.7);
  letter-spacing: 0.03rem;
  line-height: 0.3rem;
  margin: auto;
}

.fourSection_container_list p {
  margin-top: 5%;
}

//five_section_css
.fiveSection_container_box {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 6px 0 rgba(0, 0, 0, 0.09);
  border-radius: 8px;
  position: absolute;
}

.fiveSection_container_box h1 {
  font-family: MicrosoftYaHei;
  font-size: 0.32rem;
  color: rgba(66, 70, 77, 1);
  letter-spacing: 8px;
  line-height: 0.36rem;
  margin: 4.6% auto 0;
}

.fiveSection_container_box h2 {
  font-family: MicrosoftYaHei;
  font-size: 0.16rem;
  color: rgba(66, 70, 77, 0.7);
  letter-spacing: 0.04rem;
  margin: 2% auto 0;
}

.input_list {
  margin-top: 0.3rem;
}

.firstSection_container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.form_, .form_phone {
  width: 2.8rem;
  //border-bottom: 2px solid #B7C3CE;
  margin: 0.2rem auto;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  position: relative;
}

.form_ span, .form_phone span {
  width: 2.8rem;
  position: absolute;
  font-family: MicrosoftYaHei, '微软雅黑';
  font-size: 0.16rem;
  color: #b9c0c8;
  letter-spacing: 0.0356rem;
  line-height: 0.5rem;
  text-align: left;
  padding-left: 0.1rem;
  transition: all 0.5s;
  top: 0;
}

.form_ .i_active, .form_phone .i_active {
  width: 0;
  position: absolute;
  display: inline-block;
  transition: color 1s;
  height: 2px;
  background: #fff;
  bottom: 0;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.form_ .i_default, .form_phone .i_default {
  width: 2.8rem;
  position: absolute;
  display: inline-block;
  transition: color 1s;
  border-bottom: 1px solid #B7C3CE;
  bottom: 0;
  left: 0;
}

.form_phone {
  width: 2.8rem;
  margin: 0.2rem auto;
  position: relative;
}

.btn-default:hover {
  color: #b9c0c8 !important;
  background: #fff !important;
}

.fiveSection_container_box input {
  outline: none;
  width: 2.8rem;
  height: 0.5rem;
  //margin-top: 10px;
  font-family: MicrosoftYaHei, '微软雅黑';
  font-size: 0.16rem;
  color: #000;
  letter-spacing: 0.0356rem;
  line-height: 0.5rem;
  border: none;
}

.fiveSection_container_box button {
  width: 2.8rem;
  height: 0.5rem;
  margin-top: 0.1rem;
  opacity: 0.3;
  font-family: MicrosoftYaHei;
  font-size: 0.16rem;
  color: #B7C3CE;
  letter-spacing: 0.0356rem;
  line-height: 0.3rem;
}

.five_padding {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  position: relative;
}

.fiveSection_container {
  width: 90.83%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  //-o-: translate(-50%, 0);
}

footer {
  width: 100%;
  border-top: 1px solid #E0E0E0;
  background: #FFFFFF;
  border-radius: 1px;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: rgba(66, 70, 77, 0.7);
  text-align: center;
  line-height: 62px;
  position: relative;
}

.down_btn {
  width: 66.6666%;
  height: 24.5614%;
  display: flex;
  justify-content: space-between;
  margin-top: 12.89%;
  position: relative;
}

.firstSection_down_btn_phone {
  width: 47.3684%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
  position: relative;
}

.firstSection_down_btn_az {
  width: 50%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
  position: relative;
}

.phone {
  width: 12.7777%;
  height: 67.5%;
  margin-top: 5%;
  margin-right: 10%;
}

.phone img {
  width: 100%;
}

.az {
  width: 15.21052%;
  height: 67.5%;
  margin-top: 2%;
  margin-right: 6%;
}

.az img {
  width: 100%;
}

.QR_cord {
  width: 60%;
  //height: 257.142%;
  position: absolute;
  top: 130%;
  right: 0;
  display: none;
  padding: 5%;
  z-index: 99;
  background: #fff;
  border-radius: 3%;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.QR_cord i {
  font-size: 0;
  line-height: 0;
  border-width: 10px;
  border-color: #fff;
  border-top-width: 0;
  border-style: dashed;
  border-bottom-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
}

.QR_cord img {
  width: 100%;
  height: auto;
}

.down_text p {
  font-family: MicrosoftYaHei;
  font-size: 0.12rem;
  color: #008FFE;
  letter-spacing: 0.034rem;
  line-height: 0.12rem;
}

.down_text div {
  font-family: MicrosoftYaHei-Bold;
  font-size: 0.18rem;
  color: #008FFE;
  line-height: 0.18rem;
}

.twoSection_container_img_depth {
  float: right !important;
}

.twoSection_container_img, .twoSection_container_img_down, .twoSection_container_img_depth, .twoSection_container_img_all, .server_grade_img, .server_what_img, .about_container_img {
  width: 91%;
  margin: auto;
  position: relative;
}

.twoSection_container_img img, .twoSection_container_img_down img, .twoSection_container_img_depth img, .twoSection_container_img_all img, .server_grade_img img, .server_what_img img, .about_container_img img {
  width: 100%;
}

.theDimensions_continer {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.fourSection_img {
  width: 100% !important;
}

.server_container_list_img img, .server_container_list_img_one img, .server_container_list_img_two img, .server_container_list_img_three img {
  width: 100%;
  height: auto;
}

.server_container_list_img {
  width: 140px;
  height: 140px;
  margin: auto;
}

.server_container_list_img_one {
  width: 140px;
  height: 140px;
  margin: auto;
}

.server_container_list_img_two {
  width: 140px;
  height: 140px;
  margin: auto;
}

.server_container_list_img_three {
  width: 140px;
  height: 140px;
  margin: auto;
}

.server_container_title {
  width: 100%;
  margin: auto 0;
}

.server_container_title h1 {
  font-family: MicrosoftYaHei;
  font-size: 0.32rem;
  color: rgba(66, 70, 77, 1);
  letter-spacing: 0.08rem;
  line-height: 0.36rem;
  margin: 0;
  position: relative;
}

.server_container_title p {
  width: 58.3333%;
  font-family: MicrosoftYaHei;
  font-size: 0.16rem;
  color: rgba(66, 70, 77, 0.7);
  letter-spacing: 0.04rem;
  line-height: 0.3rem;
  margin: 0.27rem auto 0;
  position: relative;
}

.dimensionality_list {
  height: 100%;
}

.dimensionality_container_lists {
  width: 100%;
  height: 72.216513%;
  margin: 0.3rem auto !important;
}

.dimensionality_container_list {
  width: 66.7567%;
  height: 84.099801%;
  margin: 54px auto;
  background: #FFFFFF;
  box-shadow: 0 0 12px 0 rgba(49, 82, 112, 0.22);
  border-radius: 8px;
  padding-top: 10.7751%;
}

.dimensionality_container_list_img img, .dimensionality_container_list_img_two img, .dimensionality_container_list_img_three img {
  width: 100%;
  height: auto;
}

.dimensionality_container_list_img {
  width: 56.68285%;
  height: 48.08966%;
  margin: 0.13rem auto;
}

.dimensionality_container_list_img_two {
  width: 56.68285%;
  height: 48.08966%;
  margin: 0.13rem auto;
}

.dimensionality_container_list_img_three {
  width: 56.68285%;
  height: 48.08966%;
  margin: 0.13rem auto;
}

.dimensionality_container_list span {
  display: inline-block;
  width: 160px;
  font-family: MicrosoftYaHei;
  font-size: 20px;
  color: #365C9E;
  letter-spacing: 5.56px;
  line-height: 30px;
  margin: 0 auto 13px;
}

.dimensionality_container_list p {
  width: 209px;
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: rgba(66, 70, 77, 0.7);
  letter-spacing: 3px;
  line-height: 30px;
  margin: auto;
}

//

.contact_we {
  width: 100%;
  text-align: center;
  margin: auto;
}

.contact_we h1 {
  font-family: MicrosoftYaHei;
  font-size: 32px;
  color: rgba(66, 70, 77, 1);
  letter-spacing: 8px;
  line-height: 36px;
  position: relative;
}

.contact_we h2 {
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: rgba(66, 70, 77, 0.7);
  letter-spacing: 4.44px;
  line-height: 30px;
  position: relative;
}

.contact_we p {
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: rgba(66, 70, 77, 0.7);
  letter-spacing: 3px;
  line-height: 30px;
  position: relative;
}

.wx span {
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: rgba(66, 70, 77, 0.7);
  letter-spacing: 4.44px;
  line-height: 30px;
  position: relative;
}

.tel_we {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: rgba(66, 70, 77, 0.7);
  line-height: 19px;
  position: relative;
}

.date_we {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: rgba(66, 70, 77, 0.7);
  line-height: 19px;
  position: relative;
}

.wx_img {
  width: 120px;
  height: 120px;
  margin: auto;
  position: relative;
}

.wx_img img {
  width: 100%;
}

.wx {
  margin-top: 8%;
}

.ql_sixAnimate {
  position: relative;
}

.section_all_continer {
  width: 100%;
  padding-bottom: 43.75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.section_all_continer_slider {
  width: 100%;
  height: 100%;
  position: absolute;
}

.section_continer {
  max-width: 1200px;
  width: 100%;
  padding-bottom: 56.25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.serve_container_lists {
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: 8.58% auto !important;
}

.section_six_continer_slider {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 4%;
}

.six_trait {
  max-width: 1200px;
  width: 100%;
  padding-bottom: 45.5833333%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.theDimensions_padding {
  max-width: 1200px;
  width: 100%;
  padding-bottom: 45.416666%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.serveSection_list {
  height: 100%;
}

.modal_ {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 999999999;
  display: none;
}

.modal_inner {
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .09), 0 1px 2px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .09), 0 1px 2px 0 rgba(0, 0, 0, .15);
  border-radius: 8px;
  width: 560px;
  height: 280px;
  left: 50%;
  top: 50%;
  margin-left: -280px;
  margin-top: -140px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.modal_inner button {
  width: 3rem;
  height: 0.56rem;
  margin: 0 auto;
  background: rgb(88, 128, 243);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 6px 0px, rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
  border-radius: 1rem;
  line-height: 0.56rem;
  text-align: center;
  color: white;
  font-size: 0.2rem;
  cursor: pointer;
}

.modal_inner h1 {
  font-size: 20px;
  color: #42464d;
  text-align: center;
}

.modal_inner p {
  opacity: .7;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #42464d;
  line-height: 26px;
  text-align: center;
}


