//@media screen and (min-width: 1200px) {
//
//}

@media screen and (min-width: 992px) and (max-width: 1200px) {

}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .home_QR_cord {
    width: 250px;
    top: -50px;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
  }
  .home_QR_cord i {
    top: 99%;
    font-size: 0;
    line-height: 0;
    border-width: 20px;
    border-color: #fff;
    border-bottom-width: 0;
    border-style: dashed;
    border-top-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    margin-left: -20px;
  }
  .firstSection_container {
    margin: 0 !important;
  }
  .container_padding {
    padding-bottom: 0;
    position: relative;
    height: 100%;
  }
  .firstSection_down_text {
    position: relative !important;
    text-align: center;
    height: 80%;
    float: none !important;
  }
  .firstSection_img {
    margin: auto;
    height: auto;
    float: none !important;
  }

  .firstSection_down_text p {
    width: 80%;
    margin: auto;
  }
  .firstSection_down_btn {
    width: 330px;
    height: 72px;
    font-size: 20px !important;
    letter-spacing: 3px;
    line-height: 24px;
    margin-top: 50px;
  }
  .container_padding_ab {
    height: 85%;
  }
  .firstSection_down_one_p, .serve_firstSection_down_one_p {
    font-size: 50px;
    letter-spacing: 12px;
    line-height: 54px;
  }
  .firstSection_down_two_p, .serve_firstSection_down_two_p {
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 30px;
  }
  .serve_firstSection_down_two_p {
    margin-top: 30px !important;
    width: 75% !important;
  }
  .down_btn {
    margin: 40px auto;
  }
  .firstSection_down_btn_az, .firstSection_down_btn_phone {
    height: 50%;
    width: 45%;
  }

  .down_text p {
    font-size: 12px;
    color: #008FFE;
    letter-spacing: 3.4px;
    line-height: 12px;
    margin-top: 0;
  }
  .down_text div {
    font-size: 18px;
    line-height: 18px;
  }
  .margin_, .margin_az {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }
  .about_firstSection_img {
    float: none !important;
    margin: auto;
  }

  .home_container, .last_five_home_container, .section_continer {
    height: 100%;
    padding: 10% 2%;
  }
  .section_all_continer {
    height: 100%;
    padding: 0;
  }
  .threeSection_container_title h1 {
    font-size: 32px;
    letter-spacing: 8px;
    line-height: 36px;
    margin-top: 0 !important;
  }
  .threeSection_container_title {
    width: 80%;
  }
  .threeSection_container_lists {
    height: auto;
  }
  .threeSection_container_list p {
    font-size: 20px;
    letter-spacing: 5.56px;
    line-height: 30px;
    margin: 5% auto;
  }
  .threeSection_container_title p {
    font-size: 16px;
    letter-spacing: 4px;
    line-height: 30px;
  }
  .bounce_continer {
    height: auto !important;
    display: block;
  }
  .twoSection_container {
    position: relative;
    margin-left: 0 !important;
  }
  .about_container_img, .server_grade_img, .server_what_img, .twoSection_container_img, .twoSection_container_img_all, .twoSection_container_img_depth, .twoSection_container_img_down {
    width: 70%;
  }
  .twoSection_container_img {
    margin-bottom: 30px;
  }
  .twoSection_container_img img {
    width: 80%;
  }
  .twoSection_container_inner {
    text-align: center;
  }
  .twoSection_container_inner h1 {
    margin-top: 0 !important;
    font-size: 25px;
  }
  .twoSection_container_inner span {
    width: 98px;
  }
  .twoSection_container_inner p {
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 24.8px;
    margin-top: 7px;
  }
  .down_bounce_continer {
    display: block;
  }
  .twoSection_down_text {
    width: 95%;
    margin: auto;
  }
  .section_all_continer_slider {
    padding: 10% 2%;
  }
  .fiveSection_container {
    position: relative;
    margin: 0 !important;
  }
  .fiveSection_container_box h1 {
    font-size: 32px;
    letter-spacing: 8px;
    line-height: 36px;
  }
  .fiveSection_container_box h2 {
    width: 70%;
    font-size: 16px;
    letter-spacing: 4px;
    margin: 15px auto 0;
  }
  .fiveSection_container_box button {
    margin: 5% auto;
    width: 280px;
  }
  .form_, .form_phone {
    width: 280px;
    margin: 20px auto;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    position: relative;
  }
  .form_ span, .form_phone span {
    width: 280px;
    font-size: 16px;
    letter-spacing: 3.56px;
    padding-left: 10px;
  }
  .form_ .i_default, .form_phone .i_default {
    width: 280px;
  }
  .theDimensions_padding {
    position: relative;
    padding: 0 !important;
    height: 100%;
  }
  .section_six_continer_slider {
    position: relative;
    padding: 0 !important;
    height: 77%;
  }
  .six_fourSection_container_title {
    width: 90%;
  }
  .six_fourSection_container_title h1 {
    font-size: 32px;
    letter-spacing: 8px;
    line-height: 36px;
  }
  .six_fourSection_container_title p {
    font-size: 16px;
    letter-spacing: 4px;
    line-height: 30px;
    margin-top: 28px;
  }
  .fourSection_container_list span, .serve_fourSection_container_list span {
    font-size: 17px;
    letter-spacing: 5.6px;
    line-height: 30px;
  }
  .fourSection_container_list p, .serve_fourSection_container_list p {
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 30px;
    width: 100%;
  }
  .fourSection_list {
    height: 38.619%;
  }
  .fourSection_container_title {
    width: 60%;
  }
  .six_trait {
    padding-bottom: 0;
    height: 100%;
  }
  .fourSection_container_title h1 {
    font-size: 32px;
    letter-spacing: 8px;
    line-height: 36px;
    margin-top: 0.3rem;
  }
  .theDimensions_continer {
    height: 70%;
  }
  .server_container_title h1 {
    font-size: 32px;
    letter-spacing: 8px;
    line-height: 36px;
  }
  .server_container_title p {
    width: 80.3333%;
    font-size: 16px;
    letter-spacing: 4px;
    line-height: 30px;
  }
  .dimensionality_container_list span {
    width: 100%;
  }
  .dimensionality_container_list p {
    width: 100%;
  }
  .dimensionality_container_lists {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    height: 87.216513%;
    margin: 30px auto !important;
  }
  .dimensionality_list {
    width: 100% !important;
  }
  .dimensionality_container_list {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .dimensionality_container_list_img, .dimensionality_container_list_img_three, .dimensionality_container_list_img_two {
    width: 23.68285%;
    height: 100%;
    margin: auto;
  }
  .dimensionality_container_list_img img, .dimensionality_container_list_img_three img, .dimensionality_container_list_img_two img {
    position: relative;
    top: 50%;
    margin-top: -50%;
  }
  .dimensionality_container_inner {
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .dimensionality_container_list p, .dimensionality_container_list span {
    margin-bottom: 0;
  }
  .dimensionality_container_list p {
    margin: 0;
  }
  .fiveSection_container_box {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .serve_firstSection_img {
    float: none !important;
    height: auto;
    padding: 0 !important;
    margin: auto;
  }
}

//iphone
@media screen and (max-width: 767px) {

  .firstSection_down_text, .twoSection_down_text {
    position: relative !important;
    top: 0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  .twoSection_down_text {
    margin-top: 0;
  }
  .bounce_continer, .down_bounce_continer {
    display: block;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    height: 100%;
  }
  .advantage_container, .twoSection_container {
    height: 100%;
  }
  .page_icon {
    display: none;
    width: 68px;
    height: 4px;
    background: #fff;
    position: absolute;
    right: 283px;
  }

  .header_logo {
    width: 118px;
    margin-left: 0.2rem;
  }
  .right_change_blue ul li a span, .right_change_white ul li a span {
    width: 1px !important;
  }
  #fp-nav {
    margin: 0;
  }
  #fp-nav.right {
    right: 0 !important;
  }
  #nav_avtive {
    width: 100%;
    margin: 0 auto !important;
  }
  .nav_continer {
    /* max-width: 1200px; */
    width: 100%;
  }
  .navbar-header {
    margin-left: 0 !important;
  }
  .navbar-collapse {
    padding: 0 !important;
  }
  #nav_avtive li {
    width: auto;
  }
  .navbar-default {
    padding: 0 !important;
  }
  .container_padding {
    padding: 0 !important;
    height: 100%;
  }
  .firstSection_down_one_p {
    font-family: PingFangSC-Regular;
    font-size: 0.25rem;
    color: #FFFFFF;
    letter-spacing: 0.04rem;
    line-height: 0.27rem;
    text-align: center;
    margin-bottom: 0.17rem !important;
  }
  .serve_firstSection_down_one_p {
    width: 100%;
    font-size: 0.3rem;
    color: #FFFFFF;
    letter-spacing: 0.048rem;
    line-height: 0.25rem;
    text-align: center;
    margin-bottom: 0.25rem !important;
  }

  .container {
    width: 100%;
  }
  .firstSection_container {
    width: 90%;
    height: 100%;
    margin: 0 auto !important;
    padding-bottom: 0.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .firstSection_img {
    float: none !important;
    width: 2.19rem !important;
    height: 2.37rem;
    margin: 0.3rem auto 0.27rem;
    padding: 0 !important;
  }
  .serve_firstSection_img {
    float: none !important;
    width: 2.86rem !important;
    height: 2.37rem;
    margin: 0.2rem auto;
    padding: 0 !important;
  }
  .firstSection_img img, .serve_firstSection_img img {
    width: 100%;
  }
  .about_firstSection_img {
    float: none !important;
    width: 2.217rem !important;
    //height: 39.9666%;
    margin: 13.7% auto 0.56rem;
    padding: 0 !important;
  }
  .about_firstSection_img img {
    width: 100%;
    height: auto;
  }

  .firstSection_down_two_p {
    width: 2.85rem;
    font-family: PingFangSC-Regular;
    font-size: 0.11rem;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 0.18rem;
    text-align: center;
    margin: 0 auto !important;
  }
  .serve_firstSection_down_two_p {
    width: 2.96rem;
    font-family: PingFangSC-Regular;
    font-size: 0.11rem;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 0.18rem;
    text-align: center;
    margin: 0 auto !important;
  }
  .about_firstSection_down_two_p {
    width: 2.65rem;
    font-family: PingFangSC-Regular;
    font-size: 0.11rem;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 0.18rem;
    text-align: center;
    margin: 0 auto !important;
  }

  .firstSection_down_btn {
    width: 2.25rem;
    height: 0.42rem;
    font-family: MicrosoftYaHei;
    font-size: 0.15rem !important;
    color: #0080FF;
    letter-spacing: 2.25px;
    line-height: 0.18rem;
    margin: 0.47rem auto;
  }
  .serve_down_text {
    margin-top: 0.98rem;
  }
  .about_down_text {
    margin-top: 1.5rem;
  }
  .firstSection_down_text, .about_down_text, .serve_down_text {
    width: 100%;
    height: auto;
    //margin-top: 0.61rem;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }
  .down_btn {
    width: 100%;
    height: 100%;
    flex-flow: row;
    margin-top: 0.48rem;
  }
  .down_text {
    height: 100%;
  }
  .margin_, .margin_az {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
  }
  .firstSection_down_btn_phone, .firstSection_down_btn_az {
    width: 1.35rem;
    height: 0.5rem !important;
    margin: auto;
    padding: 0.09rem;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
  }

  .down_text p {
    font-size: 0.09rem;
    color: #008FFE;
    letter-spacing: 0.0255rem;
    line-height: 0.09rem;
    text-align: left;
    margin-bottom: 0;
  }
  .down_text div {
    font-family: MicrosoftYaHei-Bold;
    font-size: 0.135rem;
    color: #008FFE;
    line-height: 0.135rem;
    text-align: left;
    white-space: nowrap;
  }

  .QR_cord {
    top: -1.2rem;
    right: 25%;
  }
  .QR_cord i {
    top: 99%;
    font-size: 0;
    line-height: 0;
    border-width: 0.1rem;
    border-color: #fff;
    border-bottom-width: 0;
    border-style: dashed;
    border-top-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  .home_QR_cord {
    width: 1.5rem;
    top: -0.5rem;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
  }
  .home_QR_cord i {
    top: 99%;
    font-size: 0;
    line-height: 0;
    border-width: 0.1rem;
    border-color: #fff;
    border-bottom-width: 0;
    border-style: dashed;
    border-top-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    box-shadow: 0 2px 0 rgba(49, 82, 112, .22);
  }
  .home_container {
    width: 3.25rem;
    padding-bottom: 0;
    height: 4.77rem;
    margin: 0 !important;
  }

  .twoSection_container_inner {
    text-align: center;
    margin-top: 0.1rem;
  }
  .twoSection_container_inner p {
    width: 100%;
    opacity: 0.7;
    font-family: MicrosoftYaHei;
    font-size: 0.11rem;
    color: #42464D;
    letter-spacing: 0.01rem;
    line-height: 0.20rem;
    text-align: center;
    margin: auto;
  }
  .depthometer {
    width: 2.3rem !important;
  }
  .twoSection_container_inner h1 {
    font-family: MicrosoftYaHei;
    font-size: 0.16rem;
    color: #42464d;
    letter-spacing: 0.02rem;
    line-height: 0.18rem;
    position: relative;
    margin: 0;
  }
  .twoSection_img {
    margin-top: 0.3rem;
  }
  .twoSection_container_inner span {
    display: inline-block;
    width: 0.491rem;
    height: 4px;
    background: #2697FF;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    position: relative;
    margin: 0.1rem auto;
  }
  .advantage_container_left, .twoSection_container_left {
    max-width: 0.84rem;
    max-height: 0.64rem;
    background-position-y: -1px;
  }
  .advantage_container_right, .twoSection_container_right {
    max-width: 0.64rem;
  }

  @keyframes right_icon_animate {
    from {
      width: 0;
      height: 0;
      opacity: 0;
    }
    to {
      width: 0.64rem;
      height: 2rem;
      opacity: 1;
    }
  }

  @-moz-keyframes right_icon_animate {
    from {
      width: 0;
      height: 0;
      opacity: 0;
    }
    to {
      width: 0.64rem;
      height: 2rem;
      opacity: 1;
    }
  }

  @-webkit-keyframes right_icon_animate {
    from {
      width: 0;
      height: 0;
      opacity: 0;
    }
    to {
      width: 0.64rem;
      height: 2rem;
      opacity: 1;
    }
  }

  @-o-keyframes right_icon_animate {
    from {
      width: 0;
      height: 0;
      opacity: 0;
    }
    to {
      width: 0.64rem;
      height: 2rem;
      opacity: 1;
    }
  }

  @keyframes left_icon_animate {
    from {
      width: 0;
      height: 0;
      opacity: 0;
    }
    to {
      width: 0.84rem;
      height: 0.64rem;
      opacity: 1;
    }
  }

  @-moz-keyframes left_icon_animate {
    from {
      width: 0;
      height: 0;
      opacity: 0;
    }
    to {
      width: 0.84rem;
      height: 0.64rem;
      opacity: 1;
    }
  }

  @-webkit-keyframes left_icon_animate {
    from {
      width: 0;
      height: 0;
      opacity: 0;
    }
    to {
      width: 0.84rem;
      height: 0.64rem;
      opacity: 1;
    }
  }

  @-o-keyframes left_icon_animate {
    from {
      width: 0;
      height: 0;
      opacity: 0;
    }
    to {
      width: 0.84rem;
      height: 0.64rem;
      opacity: 1;
    }
  }

  .twoSection_container {
    width: 100%;
    margin: 0 !important;
  }

  .last_five_home_container {
    width: 3.25rem;
    padding-bottom: 0;
    height: 4.07rem;
    margin: 0 !important;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .section_all_continer {
    width: 3.25rem;
    padding-bottom: 0;
    height: 85%;
    margin: 0 !important;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .threeSection_container_lists {
    height: 100%;
  }
  .threeSection_container_list {
    padding: 0.2rem 0 0 0;
  }
  .threeSection_container_list_img, .threeSection_container_list_img_four, .threeSection_container_list_img_three, .threeSection_container_list_img_two {
    width: 0.84rem;
    height: 0.84rem;
  }

  .threeSection_list {
    height: 40%;
  }
  .threeSection_container_list p {
    width: 0.9rem;
    font-family: MicrosoftYaHei;
    font-size: 0.12rem;
    letter-spacing: 0.0156rem;
    line-height: 0.18rem;
  }
  .threeSection_container_title h1 {
    font-family: MicrosoftYaHei;
    font-size: 0.16rem;
    color: #42464D;
    letter-spacing: 0.02rem;
    line-height: 0.18rem;
    margin: 0;
  }
  .threeSection_container_title p, .six_fourSection_container_title p {
    font-size: 0.11rem;
    letter-spacing: 0.01rem;
    line-height: 0.2rem;
    width: 82%;
    margin: 0.1rem auto;
  }
  .six_fourSection_container_title p {
    margin: 0.15rem auto !important;
  }
  .threeSection_container_title {
    width: 100%;
  }
  .about_container_img, .server_grade_img, .server_what_img, .twoSection_container_img, .twoSection_container_img_all, .twoSection_container_img_depth, .twoSection_container_img_down {
    width: 2.04rem;
  }
  .wx_img {
    width: 1.2rem;
    height: 1.2rem;
  }
  .wx_img img {
    width: 100%;
    height: auto;
  }
  .contact_we h1 {
    font-family: MicrosoftYaHei;
    font-size: 0.2rem;
    color: #42464D;
    letter-spacing: 0.025rem;
    line-height: 0.36rem;
    margin-top: 0.1rem !important;
    margin-bottom: 0.15rem;
  }
  .contact_we h2, .contact_we p, .wx span {
    font-family: MicrosoftYaHei;
    font-size: 0.16rem;
    color: #42464D;
    letter-spacing: 0.02rem;
    line-height: 0.25rem;
    margin: 0;
  }
  .date_we {
    line-height: 0.2rem !important;
    margin-top: 0 !important;
  }
  .tel_ai {
    margin-top: 0.2rem !important;
  }
  .ql_oneAnimate {
    margin-top: 0 !important;
  }
  .wx_img {
    width: 47.335%;
    background-size: 100%;
  }
  .wx {
    margin-top: 0.2rem;
  }
  .six_fourSection_container_title {
    width: 100%;
  }
  .six_fourSection_container_title h1 {
    font-size: 0.16rem;
    letter-spacing: 0.02rem;
    line-height: 0.18rem;
  }
  .six_fourSection_container_title p {
    width: 90%;
    margin: 3% auto;
  }
  .fourSection_list {
    height: 33.3333%;
  }
  .section_six_continer_slider {
    padding-top: 0;
  }
  .fourSection_container_list {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .fourSection_container_list span, .serve_fourSection_container_list span {
    font-size: 0.12rem;
    letter-spacing: 0.0086rem;
    line-height: 0.144rem;
    margin-top: 0.05rem;
  }

  .section_continer {
    width: 3.25rem;
    padding-bottom: 0;
    height: 100%;
    margin: 0 !important;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .fourSection_container_list_img, .fourSection_container_list_img_five, .fourSection_container_list_img_four, .fourSection_container_list_img_one, .fourSection_container_list_img_three, .fourSection_container_list_img_two {
    width: 36.012%;
    height: 32.1606%;
  }
  .fiveSection_container {
    width: 100%;
    margin: 0 !important;
  }
  .fiveSection_container_box {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }
  .fiveSection_container_box h1 {
    font-size: 0.16rem;
    letter-spacing: 0.035rem;
    line-height: 0.18rem;
    margin-bottom: 0.1rem;
  }
  .fiveSection_container_box h2 {
    width: 2.5rem;
    font-size: 0.11rem;
    letter-spacing: 0.01rem;
    line-height: 0.2rem;
    margin-bottom: 0.3rem;
  }
  .form_ span, .form_phone span {
    width: 2.5rem;
    font-size: 0.128rem;
    letter-spacing: 0.0284rem;
    line-height: 0.24rem;
  }
  .fiveSection_container_box input {
    width: 2.5rem;
    font-size: 0.128rem;
    height: 0.24rem;
    line-height: 0.24rem;
  }
  .fiveSection_container_box button {
    width: 2.5rem;
    font-size: 0.135rem;
    line-height: 0.24rem;
    padding: 0;
    margin-top: 0.2rem;
    color: #b9c0c8;
    opacity: 1;
  }
  .input_list {
    margin: 0;
    position: relative;
  }
  .six_trait {
    width: 100%;
    padding-bottom: 0;
    height: 100%;
    margin: 0 !important;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .fourSection_container_title h1 {
    font-size: 0.16rem;
    letter-spacing: 0.04rem;
    line-height: 0.25rem;
  }
  .fourSection_container_title {
    width: 100%;
  }
  .serveSection_list {
    height: 40%;
    padding: 0 !important;
  }
  .serve_fourSection_container_list {
    width: 100%;
    padding: 0;
    margin: 0.3rem auto 0;
  }
  .server_container_list_img, .server_container_list_img_one, .server_container_list_img_three, .server_container_list_img_two {
    width: 1rem;
    height: 1rem;
  }

  .fourSection_container_list p, .serve_fourSection_container_list p {
    width: 100%;
    opacity: 0.7;
    font-family: MicrosoftYaHei;
    font-size: 0.1rem;
    color: #42464D;
    letter-spacing: 0.0083rem;
    line-height: 0.18rem;
    margin-top: 0;
  }
  .serve_container_lists {
    margin-top: 0.1rem !important;
    height: 100%;
  }
  .theDimensions_padding {
    width: 100%;
    padding-bottom: 0;
    height: 100%;
    margin: 0 !important;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .server_container_title h1 {
    font-family: MicrosoftYaHei;
    font-size: 0.16rem;
    color: #42464D;
    letter-spacing: 0.02rem;
    line-height: 0.18rem;
  }
  .server_container_title p {
    width: 83%;
    font-size: 0.11rem;
    letter-spacing: 0.01rem;
    line-height: 0.15rem;
    margin-top: 0.2rem;
  }
  .dimensionality_list {
    height: 1.0688rem;
  }
  .theDimensions_continer {
    height: auto;
  }
  .dimensionality_container_lists {
    height: 4rem;
    margin: 0 auto 0 !important;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
  }
  .dimensionality_container_list {
    width: 80%;
    height: 100%;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    margin: auto;
  }
  .dimensionality_container_list span {
    width: 100%;
    font-size: 0.12rem;
    letter-spacing: 0.012rem;
    line-height: 0.1425rem;
  }
  .dimensionality_container_list p {
    font-size: 0.11rem;
    letter-spacing: 0.0138rem;
    line-height: 0.1425rem;
    width: 100%;
    margin: 0;
  }
  .dimensionality_container_inner {
    width: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }
  .dimensionality_container_list_img, .dimensionality_container_list_img_two, .dimensionality_container_list_img_three {
    height: 0.665rem;
    width: 0.665rem;
    margin: auto;
  }
  .phone {
    width: 0.27rem;
    height: 0.27rem;
    margin-top: 0;
  }

  .phone img {
    width: 100%;
  }

  .az {
    width: 0.26rem;
    height: 0.26rem;
    margin-top: 0;
  }

  .az img {
    width: 100%;
  }
  .modal_inner {
    width: 2.62rem;
    height: 1.4rem;
    margin-left: -1.31rem;
    margin-top: -0.7rem;
  }

  .modal_inner button {
    width: 1.5rem;
    height: 0.3rem;
    margin: 0.05rem auto;
    background: rgb(88, 128, 243);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 6px 0px, rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
    border-radius: 1rem;
    line-height: 0.3rem;
    text-align: center;
    color: white;
    font-size: 0.14rem;
    display: inline-block;
  }

  .modal_inner h1 {
    font-size: 0.15rem;
    color: #42464d;
    text-align: center;
    margin-top: 0;
  }

  .modal_inner p {
    opacity: .7;
    font-family: MicrosoftYaHei;
    font-size: 0.12rem;
    color: #42464d;
    line-height: 0.2rem;
    text-align: center;
    margin: 0;
  }
  .form_, .form_phone {
    width: 2.5rem;
    position: relative;
  }
  .form_ .i_default, .form_phone .i_default {
    width: 2.5rem;
  }
}




