.Site {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    height: 50px;
    width: 100%;
    background: green;
}

footer {
    background: #000;
    height: 50px;
    width: 100%;
}

.Site-content {
    flex: 1; // height: 100px;
    display: flex;
    margin: auto;
    width: 100%;
}

.Site-content span {
    flex: 0 1 25%;
    height: 50px;
    background: yellow;
    display: inline-block;
}