<article>
    <div id="fullpage">
        <div class="section " id="section0">

            <div class="container">
                <div class="firstSection_container row">
                    <div class="about_firstSection_img col-md-6" style="float:right">
                        <img class="animated lx_oneAnimate"
                             src="http://oxrgdeqd8.bkt.clouddn.com/lALPBY0V4tUK70jNBu3NBTQ_1332_1773.png?imageslim"
                             alt="">
                    </div>
                    <div class="serve_down_text col-md-6">
                        <p class="animated lx_oneAnimate firstSection_down_one_p">关于鹰眼鉴房</p>
                        <p class="animated lx_twoAnimate firstSection_down_two_p">
                            国内首家专注于楼盘质量的「房产数据信息服务平台」致力于通过全景监控和监控报告采集分析，提供多维度可视化评测结果，为用户的房产交易决策提供有力依据</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="section1">
            <div class="advantage_container row">
                <div class="advantage_container_left"></div>
                <div class="advantage_container_right"></div>
                <div class="section_all_continer">
                    <div class="section_img col-md-6">
                        <div class="animated rh_oneAnimate about_container_img"></div>
                    </div>
                    <div class="animated fadeInUpBig advantage_down_text col-md-6">
                        <div class="advantage_container_inner">
                            <h1 class="animated rh_oneAnimate">专注于房屋质量的房产交易平台</h1>
                            <span class="animated rh_twoAnimate"></span>
                            <p class="animated rh_threeAnimate">
                                鹰眼鉴房致力于打造一个专注于买房人居住质量、安全和舒适度的房产交易平台。我们凭借独有的房产质量数据采集系统，通过先进技术为买房人理性剖析关于房子的一切细节，辅助房产交易决策</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section moveDown" id="section2">
            <div class="twoSection_container row">
                <div class="twoSection_container_left"></div>
                <div class="twoSection_container_right"></div>
                <div class="contact_we col-md-12">
                    <h1 class="animated ql_oneAnimate">联系我们</h1>
                    <h2 class="animated ql_twoAnimate">商务合作</h2>
                    <p class="animated ql_threeAnimate">bd@maijiahome.com</p>
                    <h2 class="animated ql_fourAnimate">联系客服</h2>
                    <p class="animated ql_fiveAnimate">
                        <span class="tel_we">400-810-1180</span>
                        <span class="animated ql_sixAnimate date_we"> 09:00~18:00（周一到周五）</span>
                    </p>
                    <div class="wx">
                        <div class="animated ql_sixAnimate"><span>微信公众号</span></div>
                        <div class="animated ql_sevenAnimate wx_img"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>