<article>
    <div id="fullpage">
        <div class="section " id="section0">
            <div class="container">
                <div class="container_padding">
                    <div class="container_padding_ab">
                        <div class="firstSection_container row">
                            <div class="about_firstSection_img col-md-6" style="float:right">
                                <img class="animated lx_oneAnimate"
                                     src="http://oxrgdeqd8.bkt.clouddn.com/lALPBY0V4tUK70jNBu3NBTQ_1332_1773.png?imageslim"
                                     alt="">
                            </div>
                            <div class="about_down_text col-md-6" style="float: left;">
                                <p class="animated lx_oneAnimate firstSection_down_one_p">关于鹰眼鉴房</p>
                                <p class="animated lx_twoAnimate about_firstSection_down_two_p">
                                    国内首家专注于楼盘质量的「房产数据信息服务平台」致力于通过全景监控和监控报告采集分析，提供多维度可视化评测结果，为用户的房产交易决策提供有力依据</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="section1">
            <div class="all_coniner">
                <div class="home_container">
                    <div class="twoSection_container row">
                        <div class="twoSection_container_left"></div>
                        <div class="twoSection_container_right"></div>
                        <div class="down_bounce_continer">
                            <div class="twoSection_img col-md-6">
                                <div class="rh_oneAnimate animated twoSection_container_img">
                                    <img src="http://oxrgdeqd8.bkt.clouddn.com/lALPBY0V4tUK70XNBLnNBFw_1116_1209.png?imageslim"
                                         alt="">
                                </div>
                            </div>
                            <div class="animated fadeInUpBig twoSection_down_text col-md-6">
                                <div class="twoSection_container_inner">
                                    <h1 class="rh_oneAnimate animated">专注于房屋质量的房产交易平台</h1>
                                    <span class="rh_twoAnimate animated"></span>
                                    <p class="rh_threeAnimate animated">
                                        鹰眼鉴房致力于打造一个专注于买房人居住质量、安全和舒适度的房产交易平台。我们凭借独有的房产质量数据采集系统，通过先进技术为买房人理性剖析关于房子的一切细节，辅助房产交易决策</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section moveDown" id="section2">
            <div class="all_coniner">
                <div class="last_five_home_container">
                    <div class="twoSection_container row">
                        <div class="twoSection_container_left"></div>
                        <div class="twoSection_container_right"></div>
                        <div class="bounce_continer">
                            <div class="contact_we col-md-12">
                                <h1 class="animated ql_oneAnimate">联系我们</h1>
                                <h2 class="animated ql_twoAnimate">商务合作</h2>
                                <p class="animated ql_twoAnimate">bd@maijiahome.com</p>
                                <h2 class="tel_ai animated ql_threeAnimate">联系客服</h2>
                                <p class="date_we">
                                    <span class="animated ql_threeAnimate tel_we">400-810-1180</span></br>
                                    <span class="animated ql_threeAnimate date_we"> 09:00~18:00（周一到周五）</span>
                                </p>
                                <div class="wx">
                                    <div style="position: relative" class="animated ql_fourAnimate"><span>微信公众号</span>
                                    </div>
                                    <div style="position: relative" class="animated ql_fourAnimate wx_img">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/about_pic@3x.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>京ICP备案号1720281947号(占位，非真实)</footer>
        </div>
    </div>

</article>