
    <article>
        <div id="fullpage">
            <div class="section " id="section0">
                <div class="container">
                    <div class="firstSection_container row">
                        <div class="firstSection_img col-md-6" style="float:right">
                            <img class="animated lx_oneAnimate "
                                 src="http://oxrgdeqd8.bkt.clouddn.com/download_bg@3x.png?imageslim">
                        </div>
                        <div class="firstSection_down_text col-md-6" style="float: left;">
                            <p class="lx_oneAnimate animated firstSection_down_one_p">鹰眼鉴房</p>
                            <p class="animated lx_twoAnimate firstSection_down_two_p">全程监控楼盘，质选新居</br>
                                国内首家专注于楼盘质量的房产数据信息服务平台</p>
                            <div class="down_btn">
                                <div class="animated lx_threeAnimate firstSection_down_btn_phone">
                                    <div class="phone"></div>
                                    <div class="down_text">
                                        <div class="margin_">
                                            <p>前往下载</p>
                                            <div>App Store</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="animated lx_threeAnimate firstSection_down_btn_az">
                                    <div class="az"></div>
                                    <div class="down_text">
                                        <div class="margin_az">
                                            <p>前往下载</p>
                                            <div>安卓应用市场</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="section1">
                <div class="twoSection_container row">
                    <div class="twoSection_container_left"></div>
                    <div class="twoSection_container_right"></div>
                    <div class="twoSection_img col-md-6">
                        <div class="animated rh_oneAnimate twoSection_container_img_down"></div>
                    </div>
                    <div class="animated fadeInUpBig twoSection_down_text col-md-6">
                        <div class="twoSection_container_inner">
                            <h1 class="animated rh_oneAnimate">可视化全景监控</h1>
                            <span class="animated rh_twoAnimate"></span>
                            <p class="animated rh_threeAnimate">
                                实景呈现，多点监控展示楼盘工程质量多角度，分期展示，实景图片监控工程进度随时随地通过全景监控图片查看不同时期工程质量</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section moveDown" id="section2">
                <div class="twoSection_container row">
                    <div class="twoSection_container_left"></div>
                    <div class="twoSection_container_right"></div>
                    <div class="twoSection_img col-md-6">
                        <div class="animated ql_oneAnimate twoSection_container_img_depth"></div>
                    </div>
                    <div class="animated fadeInUpBig twoSection_down_text col-md-6">
                        <div class="twoSection_container_inner">
                            <h1 class="animated ql_oneAnimate">深度质量监控报告</h1>
                            <span class="animated ql_twoAnimate"></span>
                            <p class="animated ql_threeAnimate">
                                多份深度监控报告，全方位展示楼盘工程质量透明化展示楼盘整体施工进度，全面跟进工程进度车需监控跟进问题点状态，多维度展示楼盘全流程周期数据</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section moveDown" id="section3">
                <div class="multiple_container row">
                    <div class="twoSection_container_left" style="bottom:31px"></div>
                    <div class="twoSection_container_right"></div>
                    <div class="twoSection_img col-md-6">
                        <div class="animated zy_oneAnimate twoSection_container_img_all"></div>
                    </div>
                    <div class="animated fadeInUpBig twoSection_down_text col-md-6">
                        <div class="twoSection_container_inner">
                            <h1 class="animated zy_oneAnimate">多维度质量评测体系</h1>
                            <span class="animated zy_twoAnimate"></span>
                            <br class="animated zy_threeAnimate">
                            <p class="animated zy_fourAnimate">
                                六大维度综合评测</br>
                                近千项检测标准</br>
                                分期动态跟进楼盘数据及时准确</p>
                        </div>
                    </div>
                </div>
                <footer>京ICP备案号1720281947号(占位，非真实)</footer>
            </div>
        </div>

    </article>
