<article>
    <div id="fullpage">
        <div class="section " id="section0">
            <div class="container">
                <div class="container_padding">
                    <div class="container_padding_ab">
                        <div class="firstSection_container row">
                            <div class="firstSection_img col-md-6"
                                 style="float:right">
                                <img class="animated" src="http://oxrgdeqd8.bkt.clouddn.com/homepage_bg@3x.png"
                                     alt="">
                            </div>
                            <div class="firstSection_down_text col-md-6" style="float:left;">
                                <p class="firstSection_down_one_p">理性决策 质选新居</p>
                                <p class="firstSection_down_two_p">
                                    鹰眼鉴房是国内首家专注于楼盘质量的房产数据信息服务台。致力于通过采集、分析真实的房屋建筑质量数据，提供多维度、量化分析的可视化评测结果</p>
                                <button type="button"
                                        class="firstSection_down_btn btn btn-default">
                                    立即下载
                                </button>
                                <div class="home_QR_cord">
                                    <i></i>
                                    <img src="http://oxrgdeqd8.bkt.clouddn.com/lALPBY0V4t5KvpzNARjNARg_280_280.png"
                                         alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="section1">
            <div class="container">
                <div class="home_container">
                    <div class="twoSection_container row">
                        <div class="twoSection_container_left"></div>
                        <div class="twoSection_container_right"></div>
                        <div class="bounce_continer">
                            <div class="twoSection_img col-md-6">
                                <div class="rh_oneAnimate animated twoSection_container_img">
                                    <img src="http://oxrgdeqd8.bkt.clouddn.com/homepage_img@3x.png" alt="">
                                </div>
                            </div>
                            <div class="animated fadeInUpBig twoSection_down_text col-md-6">
                                <div class="twoSection_container_inner">
                                    <h1 class="rh_oneAnimate animated">如何选择好房产</h1>
                                    <span class="rh_twoAnimate animated"></span>
                                    <p class="rh_threeAnimate animated">
                                        鹰眼鉴房凭借独有的房产质量数据采集系统，通过三维全景地图解决方案，通过全景监控和监控数据报告，为关注楼盘规划和质量的买房人提供多维度可量化的公开透明的监控评测结果，帮助购房人理性剖析关于房产项目的一切细节、辅助房产交易决策，选择“好房产”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="section moveDown" id="section2">
            <div class="container">
                <div class="section_all_continer">
                    <div class="section_all_continer_slider">
                        <div class="row">
                            <div class="threeSection_img col-md-12">
                                <div class="threeSection_container_title">
                                    <h1 style="position: relative" class="ql_oneAnimate animated">全流程监控服务</h1>
                                    <p style="position: relative" class="ql_twoAnimate animated">
                                        为购房人提供户内区域、楼栋公共区域及园区三部分从规划到施工的全流程质量监督服务。可帮助购房人有针对性的从面到点多个维度了解所购楼盘园区整体规划落实进度</p>
                                </div>
                            </div>
                        </div>
                        <div class="threeSection_container_lists row">
                            <div class="threeSection_list col-md-3 col-sm-6 col-xs-6">
                                <div class="threeSection_container_list">
                                    <div style="position: relative"
                                         class="ql_threeAnimate animated threeSection_container_list_img">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/homepage_icon_liaojiezhengtigongchengjindu@3x.png"
                                             alt="">
                                    </div>
                                    <p style="position: relative" class="ql_fourAnimate animated ">了解整体工程进度</p>
                                </div>
                            </div>
                            <div class=" threeSection_list col-md-3 col-sm-6 col-xs-6">
                                <div class="threeSection_container_list">
                                    <div style="position: relative"
                                         class="ql_threeAnimate animated threeSection_container_list_img_two">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/homepage_icon_sanweiquanjingkeshihuajiankong@3x.png"
                                             alt="">
                                    </div>
                                    <p style="position: relative" class="ql_fourAnimate animated ">三维全景可视化监控</p>
                                </div>
                            </div>
                            <div class="threeSection_list col-md-3 col-sm-6 col-xs-6">
                                <div class="threeSection_container_list">
                                    <div style="position: relative"
                                         class="ql_threeAnimate animated threeSection_container_list_img_three">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/homepage_icon_zhangwoloupanguihualuoshijindu@3x.png"
                                             alt="">
                                    </div>
                                    <p style="position: relative" class="ql_fourAnimate animated ">掌握楼盘规划落实进度</p>
                                </div>
                            </div>
                            <div class="threeSection_list col-md-3 col-sm-6 col-xs-6">
                                <div class="threeSection_container_list">
                                    <div style="position: relative"
                                         class="ql_threeAnimate animated threeSection_container_list_img_four">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/homepage_icon_zhangwofangchanquanliuchengzhouqishuju@3x.png"
                                             alt="">
                                    </div>
                                    <p style="position: relative" class="ql_fourAnimate animated ">掌握房产全流程周期数据</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section moveDown" id="section3">
            <div class="container">
                <div class="section_continer">
                    <div class="section_si_continer_slider">
                        <div class="fourSection_container row">
                            <div class="fourSection_img col-md-12">
                                <div class="six_fourSection_container_title">
                                    <h1 style="position: relative" class="zy_oneAnimate animated">专业的六大评测维度</h1>
                                    <p style="position: relative" class="zy_twoAnimate animated">
                                        六大维度进行评测，施工全程尽收眼底严格遵照国家房屋规划和施工标准，从工程质量、规划设计等多个维度进行实时监测</p>
                                </div>
                            </div>
                        </div>
                        <div style="position: relative" class="fourSection_container_lists row zy_fourAnimate animated">
                            <div class="fourSection_list col-md-4 col-sm-6 col-xs-6">
                                <div class="fourSection_container_list list_one">
                                    <div class="fourSection_container_list_img">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/homepage_icon_gongchengzhiliang@3x.png"
                                             alt="">
                                    </div>
                                    <span>工程质量</span>
                                    <p>六大维度全面解读施工质量是否符合行业标准</p>
                                </div>
                            </div>
                            <div class="fourSection_list col-md-4 col-sm-6 col-xs-6">
                                <div class="fourSection_container_list list_two">
                                    <div class="fourSection_container_list_img_one">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/homepage_icon_guihuasheji@3x.png"
                                             alt="">
                                    </div>
                                    <span>规划设计</span>
                                    <p>三大规划设计方案教你读懂规划设计</p>
                                </div>
                            </div>
                            <div class="fourSection_list col-md-4 col-sm-6 col-xs-6">
                                <div class="fourSection_container_list list_three">
                                    <div class="fourSection_container_list_img_two">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/homepage_icon_zhoubianpeitao@3x.png"
                                             alt="">
                                    </div>
                                    <span>周边配套</span>
                                    <p>周边配套是否科学合理生活是否便利</p>
                                </div>
                            </div>
                            <div class="fourSection_list col-md-4 col-sm-6 col-xs-6">
                                <div class="fourSection_container_list list_four">
                                    <div class="fourSection_container_list_img_three">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/homepage_icon_guihualuoshi@3x.png"
                                             alt="">
                                    </div>
                                    <span>规划落实</span>
                                    <p>确认规划落实情况关注每个细节</p>
                                </div>
                            </div>
                            <div class="fourSection_list col-md-4 col-sm-6 col-xs-6">
                                <div class="fourSection_container_list list_five">
                                    <div class="fourSection_container_list_img_four">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/homepage_icon_jingguanguihua@3x.png"
                                             alt="">
                                    </div>
                                    <span>景观规划</span>
                                    <p>评测楼盘景观规划是否合理通过小区整体舒适度</p>
                                </div>
                            </div>
                            <div class="fourSection_list col-md-4 col-sm-6 col-xs-6">
                                <div class="fourSection_container_list list_six">
                                    <div class="fourSection_container_list_img_five ">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/homepage_icon_loupanwuye@3x.png"
                                             alt="">
                                    </div>
                                    <span>楼盘物业</span>
                                    <p>物业服务质量综合评估是否能够提供完备的服务</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="section moveDown" id="section4">
            <div class="container">
                <div class="five_padding">
                    <div class="last_five_home_container">
                        <div class="fiveSection_container row">
                            <div class="fiveSection_container_box  yy_oneAnimate animated ">
                                <form action=""
                                      method="post" name="myForm" id="myForm" target="iframe_display">
                                    <h1 class="">预约了解楼盘质量/进度信息</h1>
                                    <h2 class="yy_twoAnimate animated">已有目标楼盘？您可以预留想查阅的楼盘信息,我们将尽快为您开放相关资料</h2>
                                    <div class="input_list yy_fiveAnimate animated">
                                        <div class="form_">
                                            <span>城市 例：北京市</span>
                                            <input type="text" name="cityName" id="cityName" placeholder="">
                                            <i class="i_default"></i>
                                            <i class="i_active"></i>
                                        </div>
                                        <div class="form_">
                                            <span>行政区域 例：浦东区</span>
                                            <input type="text" name="areaName" id="areaName" placeholder="">
                                            <i class="i_default"></i>
                                            <i class="i_active"></i>
                                        </div>
                                        <div class="form_">
                                            <span>您想了解的楼盘名称</span>
                                            <input type="text" name="buildingName" id="buildingName" placeholder="">
                                            <i class="i_default"></i>
                                            <i class="i_active"></i>
                                        </div>
                                        <div class="form_phone">
                                            <span>手机号</span>
                                            <input type="tel" name="userPhone" id="userPhone" placeholder="">
                                            <i class="i_default"></i>
                                            <i class="i_active"></i>
                                        </div>
                                        <button class="post_button btn btn-default yy_sixAnimate animated">
                                            立即预约
                                        </button>
                                        <iframe id="iframe_display" name="iframe_display"
                                                style="display: none;"></iframe>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>京ICP备17059265号-1</footer>
        </div>
    </div>
</article>