<article>
    <div id="fullpage">
        <div class="section " id="section0">
            <div class="container">
                <div class="container_padding">
                    <div class="container_padding_ab">
                        <div class="firstSection_container row">
                            <div class="serve_firstSection_img col-md-6" style="float:right">
                                <img class="animated lx_oneAnimate "
                                     src="http://oxrgdeqd8.bkt.clouddn.com/service_bg@3x.png?imageslim"
                                     alt="">
                            </div>
                            <div class="serve_down_text col-md-6" style="float: left;">
                                <p class="animated lx_oneAnimate serve_firstSection_down_one_p">全流程监控服务</p>
                                <p class="animated lx_twoAnimate serve_firstSection_down_two_p">
                                    鹰眼鉴房通过全景监控和监控数据报告为购房人提供园区、楼栋公共区域以及户内区域从动工到交付的全流程质量监督服务</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="section1">
            <div class="container">
                <div class="six_trait">
                    <div class="section_six_continer_slider">
                        <div class="fourSection_container row">
                            <div class="fourSection_img col-md-12">
                                <div class="animated rh_oneAnimate fourSection_container_title">
                                    <h1>全流程监控的特点是什么</h1>
                                </div>
                            </div>
                        </div>
                        <div class="serve_container_lists row">
                            <div class="serveSection_list col-md-3 col-sm-6 col-xs-6">
                                <div class="serve_fourSection_container_list serve_one">
                                    <div style="position: relative"
                                         class="animated rh_twoAnimate server_container_list_img">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/service_icon_jingzhundaohu@3x.png?imageslim"
                                             alt="">
                                    </div>
                                    <span style="position: relative" class="animated rh_threeAnimate ">精准到户</span>
                                    <p style="position: relative" class="animated rh_fourAnimate ">绑定购房人所购房屋提供</p>
                                    <p style="position: relative" class="animated rh_fourAnimate ">精准房屋监控信息</p>
                                </div>
                            </div>
                            <div class="serveSection_list col-md-3 col-sm-6 col-xs-6">
                                <div class="serve_fourSection_container_list serve_two">
                                    <div style="position: relative"
                                         class="animated rh_twoAnimate server_container_list_img_one">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/service_icon_quanfangweijiankong@3x.png?imageslim"
                                             alt="">
                                    </div>
                                    <span style="position: relative" class="animated rh_threeAnimate ">全方位监控</span>
                                    <p style="position: relative" class="animated rh_fourAnimate ">可视化直观了解工程进度</p>
                                    <p style="position: relative" class="animated rh_fourAnimate ">深入掌握工程落实情况</p>
                                </div>
                            </div>
                            <div class="serveSection_list col-md-3 col-sm-6 col-xs-6">
                                <div class="serve_fourSection_container_list serve_three">
                                    <div style="position: relative"
                                         class="animated rh_twoAnimate server_container_list_img_two">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/service_icon_quanliuchenggenzong@3x.png?imageslim"
                                             alt="">
                                    </div>
                                    <span style="position: relative" class="animated rh_threeAnimate ">全流程跟踪</span>
                                    <p style="position: relative" class="animated rh_fourAnimate ">深入了解掌控工程质量针</p>
                                    <p style="position: relative" class="animated rh_fourAnimate ">对其中问题点长期跟踪</p>
                                </div>
                            </div>
                            <div class="serveSection_list col-md-3 col-sm-6 col-xs-6">
                                <div class="serve_fourSection_container_list serve_four">
                                    <div style="position: relative"
                                         class="animated rh_twoAnimate server_container_list_img_three">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/service_icon_gongzhengtouming@3x.png?imageslim"
                                             alt="">
                                    </div>
                                    <span style="position: relative" class="animated rh_threeAnimate ">公正透明</span>
                                    <p style="position: relative" class="animated rh_fourAnimate ">通过App直接了解所购楼盘</p>
                                    <p style="position: relative" class="animated rh_fourAnimate ">情况质量问题一目了然</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="section moveDown" id="section2">
            <div class="all_coniner">
                <div class="home_container">
                    <div class="twoSection_container row">
                        <div class="twoSection_container_left"></div>
                        <div class="twoSection_container_right"></div>
                        <div class="down_bounce_continer">
                            <div class="twoSection_img col-md-6">
                                <div class="ql_oneAnimate animated twoSection_container_img">
                                    <img src="http://oxrgdeqd8.bkt.clouddn.com/service_img_quanliuchengjiankongdeyoushishishenm@3x.png?imageslim"
                                         alt="">
                                </div>
                            </div>
                            <div class="animated fadeInUpBig twoSection_down_text col-md-6">
                                <div class="twoSection_container_inner">
                                    <h1 class="ql_oneAnimate animated">全流程监控的优势是什么</h1>
                                    <span class="ql_twoAnimate animated"></span>
                                    <p class="ql_threeAnimate animated">
                                        可帮助购房人有针对性的从面到点多个维度了解所购楼盘整体工程进度及工程质量，依据工程进度节点，通过多个监控点的全景图像以及照片进行监控，全方位掌控楼盘园区、楼栋公共部分以及户内部分的全流程周期数据</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section moveDown" id="section3">
            <div class="container">
                <div class="theDimensions_padding">
                    <div class="theDimensions_continer">
                        <div class="fourSection_container row">
                            <div class="fourSection_img col-md-12">
                                <div class="server_container_title">
                                    <h1 class="animated zy_oneAnimate">全流程监控覆盖哪些维度</h1>
                                    <p class="animated zy_twoAnimate">
                                        购房人可通过鸟瞰图、监控点实景图等图片细节以及专业的质量检测人员实地考察提交的监控报告掌握不同阶段所购房产的各项工程进度以及规划落实情况</p>
                                </div>
                            </div>
                        </div>
                        <div class="dimensionality_container_lists row">
                            <div class="animated zy_threeAnimate dimensionality_list col-md-4 col-sm-4 col-xs-12">
                                <div class="dimensionality_container_list dimen_one">
                                    <div class=" dimensionality_container_list_img">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/service_icon_huneibufen@3x.png?imageslim"
                                             alt="">
                                    </div>
                                    <div class="dimensionality_container_inner">
                                        <span>户内部分</span>
                                        <p style="white-space: nowrap">7个维度</p>
                                        <p>27个评测模块</p>
                                    </div>
                                </div>
                            </div>
                            <div class="animated zy_threeAnimate dimensionality_list col-md-4 col-sm-4 col-xs-12">
                                <div class="dimensionality_container_list dimen_two">
                                    <div class="dimensionality_container_list_img_two">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/service_icon_loudongbufen@3x.png?imageslim"
                                             alt="">
                                    </div>
                                    <div class="dimensionality_container_inner">
                                        <span>楼栋公共部分</span>
                                        <p style="white-space: nowrap">4个维度</p>
                                        <p>21个评测模块</p>
                                    </div>
                                </div>
                            </div>
                            <div class="animated zy_threeAnimate dimensionality_list col-md-4 col-sm-4 col-xs-12">
                                <div class="dimensionality_container_list dimen_three">
                                    <div class="dimensionality_container_list_img_three">
                                        <img src="http://oxrgdeqd8.bkt.clouddn.com/service_icon_yuanqubufen@3x.png?imageslim"
                                             alt="">
                                    </div>
                                    <div class="dimensionality_container_inner">
                                        <span>园区部分</span>
                                        <p style="white-space: nowrap">13个维度</p>
                                        <p>36个评测模块</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="section moveDown" id="section4">
            <div class="all_coniner">
                <div class="last_five_home_container">
                    <div class="twoSection_container row">
                        <div class="twoSection_container_left"></div>
                        <div class="twoSection_container_right"></div>
                        <div class="bounce_continer">
                            <div class="twoSection_img col-md-6">
                                <div class="yy_oneAnimate animated twoSection_container_img">
                                    <img src="http://oxrgdeqd8.bkt.clouddn.com/lALPBY0V4tUOQQnNA__NBOk_1257_1023.png?imageslim"
                                         alt="">
                                </div>
                            </div>
                            <div class="animated fadeInUpBig twoSection_down_text col-md-6">
                                <div class="twoSection_container_inner">
                                    <h1 class="yy_oneAnimate animated">什么是“鹰眼”评分体系？</h1>
                                    <span class="yy_twoAnimate animated"></span>
                                    <p class="yy_threeAnimate animated">
                                        “鹰眼”评分体系，是依据【国家工程建设标准强制性条文】规定，经过多年房产行业经验验证，结合互联网大数据、数据挖掘以及机器学习等技术，通过海量数据建模分析，得出楼盘综合价值评分的系统，能够科学合理的反映出楼盘及房屋的客观价值，帮助用户筛选出更优质的楼盘</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>京ICP备案号1720281947号(占位，非真实)</footer>
        </div>
    </div>

</article>
