
    <article>
        <div id="fullpage">
            <div class="section " id="section0">
                <div class="container">
                    <div class="firstSection_container row">
                        <div class="firstSection_img col-md-6" style="float:right">
                            <img class="animated lx_oneAnimate "
                                 src="http://oxrgdeqd8.bkt.clouddn.com/service_bg@3x.png?imageslim"
                                 alt="">
                        </div>
                        <div class="serve_down_text col-md-6">
                            <p class="animated lx_oneAnimate firstSection_down_one_p">全流程监控服务</p>
                            <p class="animated lx_twoAnimate firstSection_down_two_p">
                                鹰眼鉴房通过全景监控和监控数据报告为购房人提供园区、楼栋公共区域以及户内区域从动工到交付的全流程质量监督服务</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="section1">
                <div class="six_">
                    <div class="fourSection_container row">
                        <div class="fourSection_img col-md-12">
                            <div class="animated rh_oneAnimate fourSection_container_title">
                                <h1>全流程监控的特点是什么</h1>
                            </div>
                        </div>
                    </div>
                    <div class="serve_container_lists row">
                        <div class="serveSection_list col-md-3 col-sm-6 col-xs-6">
                            <div class="fourSection_container_list">
                                <div class="animated rh_twoAnimate server_container_list_img"></div>
                                <span class="animated rh_threeAnimate">精准到户</span>
                                <p class="animated rh_fourAnimate">绑定购房人所购房屋</p>
                                <p class="animated rh_fiveAnimate">提供精准房屋监控信息</p>
                            </div>
                        </div>
                        <div class="serveSection_list col-md-3 col-sm-6 col-xs-6">
                            <div class="fourSection_container_list">
                                <div class="animated rh_twoAnimate server_container_list_img_one"></div>
                                <span class="animated rh_threeAnimate">全方位监控</span>
                                <p class="animated rh_fourAnimate">可视化直观了解工程进度深</p>
                                <p class="animated rh_fiveAnimate">入掌握工程落实情况</p>
                            </div>
                        </div>
                        <div class="serveSection_list col-md-3 col-sm-6 col-xs-6">
                            <div class="fourSection_container_list">
                                <div class="animated rh_twoAnimate server_container_list_img_two"></div>
                                <span class="animated rh_threeAnimate">全流程跟踪</span>
                                <p class="animated rh_fourAnimate">深入了解掌控工程质量</p>
                                <p class="animated rh_fiveAnimate">针对其中问题点长期跟踪</p>
                            </div>
                        </div>
                        <div class="serveSection_list col-md-3 col-sm-6 col-xs-6">
                            <div class="fourSection_container_list">
                                <div class="animated rh_twoAnimate server_container_list_img_three"></div>
                                <span class="animated rh_threeAnimate">公正透明</span>
                                <p class="animated rh_fourAnimate">通过App直接了解所购楼</p>
                                <p class="animated rh_fiveAnimate">盘情况质量问题一目了然</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section moveDown" id="section2">
                <div class="advantage_container row">
                    <div class="advantage_container_left"></div>
                    <div class="advantage_container_right"></div>
                    <div class="section_all_continer">
                        <div class="advantage_img col-md-6">
                            <div class="animated ql_oneAnimate server_what_img"></div>
                        </div>
                        <div class="animated fadeInUpBig advantage_down_text col-md-6">
                            <div class="advantage_container_inner">
                                <h1 class="animated ql_oneAnimate">全流程监控的优势是什么</h1>
                                <span class="animated ql_twoAnimate"></span>
                                <p class="animated ql_threeAnimate">
                                    可帮助购房人有针对性的从面到点多个维度了解所购楼盘整体工程进度及工程质量，依据工程进度节点，通过多个监控点的全景图像以及照片进行监控，全方位掌控楼盘园区、楼栋公共部分以及户内部分的全流程周期数据</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section moveDown" id="section3">
                <div class="theDimensions">
                    <div class="theDimensions_continer">
                        <div class="fourSection_container row">
                            <div class="fourSection_img col-md-12">
                                <div class="server_container_title">
                                    <h1 class="animated zy_oneAnimate">全流程监控覆盖哪些维度</h1>
                                    <p class="animated zy_twoAnimate">
                                        购房人可通过鸟瞰图、监控点实景图等图片细节以及专业的质量检测人员实地考察提交的监控报告掌握不同阶段所购房产的各项工程进度以及规划落实情况</p>
                                </div>
                            </div>
                        </div>
                        <div class="dimensionality_container_lists row">
                            <div class="dimensionality_list col-md-4 col-sm-4 col-xs-12">
                                <div class="animated zy_threeAnimate dimensionality_container_list">
                                    <div class=" dimensionality_container_list_img"></div>
                                    <div class="dimensionality_container_inner">
                                        <span class="animated zy_fourAnimate">户内部分</span>
                                        <p class="animated zy_fiveAnimate" style="white-space: nowrap">7个维度</p>
                                        <p class="animated zy_sixAnimate">27个评测模块</p>
                                    </div>
                                </div>
                            </div>
                            <div class="dimensionality_list col-md-4 col-sm-4 col-xs-12">
                                <div class="animated zy_threeAnimate dimensionality_container_list">
                                    <div class="dimensionality_container_list_img_two"></div>
                                    <div class="dimensionality_container_inner">
                                        <span class="animated zy_fourAnimate">楼栋公共部分</span>
                                        <p class="animated zy_fiveAnimate" style="white-space: nowrap">4个维度</p>
                                        <p class="animated zy_sixAnimate">21个评测模块</p>
                                    </div>
                                </div>
                            </div>
                            <div class="dimensionality_list col-md-4 col-sm-4 col-xs-12">
                                <div class="animated zy_threeAnimate dimensionality_container_list">
                                    <div class="dimensionality_container_list_img_three"></div>
                                    <div class="dimensionality_container_inner">
                                        <span class="animated zy_fourAnimate">园区部分</span>
                                        <p class="animated zy_fiveAnimate" style="white-space: nowrap">13个维度</p>
                                        <p class="animated zy_sixAnimate">36个评测模块</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="section moveDown" id="section4">
                <div class="multiple_container row">
                    <div class="twoSection_container_left"></div>
                    <div class="twoSection_container_right"></div>
                    <div class="twoSection_img col-md-6">
                        <div class="animated yy_oneAnimate server_grade_img"></div>
                    </div>
                    <div class="animated fadeInUpBig twoSection_down_text col-md-6">
                        <div class="twoSection_container_inner">
                            <h1 class="animated yy_oneAnimate">什么是“鹰眼”评分体系？</h1>
                            <span class="animated yy_twoAnimate"></span>
                            <p class="animated yy_threeAnimate">
                                “鹰眼”评分体系，是依据【国家工程建设标准强制性条文】规定，经过多年房产行业经验验证，结合互联网大数据、数据挖掘以及机器学习等技术，通过海量数据建模分析，得出楼盘综合价值评分的系统，能够科学合理的反映出楼盘及房屋的客观价值，帮助用户筛选出更优质的楼盘</p>
                        </div>
                    </div>
                </div>
                <footer>京ICP备案号1720281947号(占位，非真实)</footer>
            </div>
        </div>

    </article>
